<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Pet Supplies</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="header_top w80">
                <div class="logo">
                    <img :src="'img/' + header.logo" alt="Logo Pet Supplies">
                </div>
                <div class="search_bar">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" id="search" placeholder="Search...">
                </div>
                <div class="questions">
                    <span class="b600">Questions?</span>
                    <span>Call us : {{header.telNumber}} </span>
                </div>
                <div class="header_icons">
                    <i v-for="icon in header.icons" :class="'fas fa-' + icon"></i>
                </div>
            </div>
            <div class="header_bottom">
                <ul class="nav">
                    <li v-for="link in header.links" :class="link.name == selected ? 'active' : null" @click="selected = link.name">{{link.name}}<i :class="chevronLink(link)"></i></li>
                </ul>
            </div>
            <div class="tablet">
                <div class="top">
                    <div class="logo">
                        <img :src="'img/' + header.logo" alt="Logo Pet Supplies">
                    </div>
                    <i class="fas fa-bars"></i>
                </div>
                <div class="middle">
                    <div class="search_bar">
                        <button><i class="fas fa-search"></i></button>
                        <input type="text" id="search" placeholder="Search...">
                    </div>
                </div>
                <div class="bottom">
                    <div class="questions">
                        <span class="b600">Questions?</span>
                        <span>Call us : {{header.telNumber}} </span>
                    </div>
                    <div class="header_icons">
                        <i v-for="icon in header.icons" :class="'fas fa-' + icon"></i>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="jumbotron">
                <div class="jumbo_top">
                    <div class="wrapper_jumbo w80 center">
                        <div class="first_text">
                            <i class="far fa-map"></i>
                            <span><span class="b600">International </span>Shipping Services</span>
                        </div>
                        <div class="second_text">
                            <i class="far fa-clock"></i>
                            <span>See our <span class="b600">store hours</span> and services</span>
                        </div>
                        <div class="third_text">
                            <i class="fas fa-check"></i>
                            <span>We price match to give you the <span class="b600">best deals</span></span>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="layover"></div>
                    <div class="wrapper_banner w80">
                        <div class="banner_text">
                            <span class="b600">FIND THE BEST ANIMAL SUPPLIES</span>
                            <h1>We know animals are a part of your family, let us help take care of them.</h1>
                            <button class="btn white">Learn more about us</button>
                        </div>
                    </div>
                </div>
                <div class="jumbo_bottom">
                    <div class="wrapper_jumbo_bottom w70">
                        <div class="jumbo_food_img">
                            <img src="img/food-transparent-5.png" alt="food">
                        </div>
                        <div class="jumbo_bottom_text">
                            <span>Get $25 OFF your first purchase of our homemade pet food!</span>
                            <a href="#">Visit the shop</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="category" class="w80">
                <div class="small_cards">
                    <div class="category_text w60 center">
                        <h3>Browse by category</h3>
                        <p>Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend
                            dui, consequat nulla
                            rhoncus dictum. Viverra.</p>
                    </div>
                    <div class="cards">
                        <div v-for="card in categoryCards" class="card">
                            <div class="card_img">
                                <img :src="'img/' + card.img" :alt="card.name">
                            </div>
                            <span>{{card.name}} ({{card.numberProducts}})</span>
                        </div>
                    </div>
                </div>
                <div class="big_cards center">
                    <div v-for="card in foodCards" class="food_card">
                        <h3>{{card.name}}</h3>
                        <span>{{card.description}}</span>
                        <div class="food_img">
                            <img :src="'img/' + card.img" :alt="card.name">
                        </div>
                        <button class="btn green">{{card.buttonText}}</button>
                    </div>
                </div>
            </section>
            <section id="new_arrivals" class="w80">
                <div class="new_arrivals_banner">
                    <div class="layover"></div>
                    <div class="wrapper_banner">
                        <div class="banner_text">
                            <span>FIND THE BEST ANIMAL SUPPLIES</span>
                            <h1>New arrivals weekly</h1>
                            <button class="btn white">Learn more about us</button>
                        </div>
                    </div>
                </div>
                <div class="items_cards">
                    <div class="items_cards_top">
                        <div class="items_text">
                            <span>All-time best sellers</span>
                            <h3>Items everyone loves</h3>
                        </div>
                        <button class="btn green">View all products</button>
                    </div>
                    <div class="items_cards_bottom">
                        <div v-for="item in itemsCards" class="item_card">
                            <div class="item_card_img">
                                <div class="layover_card">
                                    <div class="check_cart">
                                        <i class="far fa-check-square"></i>
                                        <span class="center">VIEW CART</span>
                                    </div>
                                </div>
                                <img :src="'img/' + item.img" :alt="item.description">
                            </div>
                            <span class="description">{{item.description}}</span>
                            <span class="price"><span v-if="isDiscount(item)" class="discount">${{item.discount.toFixed(2)}}</span>${{item.price.toFixed(2)}}</span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="testimonials" class="center">
                <h2>Users testimonials</h2>
                <div class="wrapper_testimonials w80">
                    <div v-for="user in testimonialsUsers" class="user">
                        <div class="user_img">
                            <img :src="'img/' + user.img" :alt="user.UserName">
                        </div>
                        <p class="user_description">{{user.description}}</p>
                        <span class="user_name">{{user.userName}}</span>
                    </div>
                </div>
            </section>
            <section id="tip_tricks" class="w80">
                <div class="newsletter">
                    <div class="newsletter_text">
                        <h2>Join our newsletter</h2>
                        <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut
                            nisl.</p>
                    </div>
                    <div class="newsletter_email">
                        <input type="email" placeholder="Insert your email ...*">
                        <button class="btn big green">Subscribe</button>
                    </div>
                </div>
                <div class="blog_cards">
                    <div class="blog_cards_text center">
                        <h3>Get the best tips & tricks</h3>
                        <span>Recent articles</span>
                    </div>
                    <div class="blog_items">
                        <div class="blog_item" v-for="item in blogItems">
                            <div class="blog_img">
                                <img :src="'img/' + item.img" alt="">
                                <div class="layover_card">
                                    <div class="text_layover_card">
                                        <p>{{item.description}}</p>
                                        <span>Tips & Tricks</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_text">
                                <p class="description">{{item.description}}</p>
                                <span class="date">{{item.date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="articles_btn center">
                        <button class="btn green">Read all articles</button>
                    </div>
                </div>
            </section>
            <section id="popular_accessories">
                <div class="accessories_banners">
                    <div class="banner_left">
                        <div class="layover"></div>
                        <div class="wrapper_banner">
                            <div class="banner_text">
                                <span>FIND THE BEST ANIMAL SUPPLIES</span>
                                <h3>Popualar accessories</h3>
                                <button class="btn white">View all toys accessories</button>
                            </div>
                        </div>
                    </div>
                    <div class="banner_right">
                        <div class="layover"></div>
                        <div class="wrapper_banner">
                            <div class="banner_text">
                                <span>FIND THE BEST FOOD</span>
                                <h3>New food arrival</h3>
                                <button class="btn white">View all food products</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accessories_icons">
                    <div class="w50">
                        <div class="trick">
                            <i class="fas fa-truck"></i>
                            <span>Free worldwide deliveries</span>
                        </div>
                        <div class="map">
                            <i class="far fa-map"></i>
                            <span>Find stores near you</span>
                        </div>
                    </div>
                    <div class="w50">
                        <div class="dollar">
                            <i class="fas fa-dollar-sign"></i>
                            <span>Best prices guarranteed</span>
                        </div>
                        <div class="credit_card">
                            <i class="far fa-credit-card"></i>
                            <span>All credit card accepted</span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="new_products" class="w80">
                <div class="new_products_text center">
                    <h3>New products arrival</h3>
                    <span class="text_green">Latest products</span>
                </div>
                <div class="new_products_items">
                    <div class="item_card" v-for="item in newProducts">
                        <div class="sale" v-if="isDiscount(item)">
                            Sale!
                        </div>
                        <div class="item_card_img">
                            <div class="layover_card">
                                <div class="check_cart">
                                    <i class="far fa-check-square"></i>
                                    <span>VIEW CART</span>
                                </div>
                            </div>
                            <img :src="'img/' + item.img" :alt="item.description">
                        </div>
                        <span class="description">item.description</span>
                        <span class="price"><span v-if="isDiscount(item)" class="discount">${{item.discount.toFixed(2)}}</span>${{item.price.toFixed(2)}}</span>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_top w80">
                <div class="contacts">
                    <div class="footer_logo">
                        <img :src="'img/' + footer.logo" alt="Logo Pet Supplies">
                    </div>
                    <div class="info_contacts">
                        <p class="address">{{footer.address}}</p>
                        <p class="email">{{footer.email}}</p>
                        <p class="number_tell">{{footer.telNumber}}</p>
                    </div>
                </div>
                <div class="brand">
                    <h4>Shop by brand</h4>
                    <ul>
                        <li v-for="link in footer.brandLinks"><a href="">{{link}}</a></li>
                    </ul>
                </div>
                <div class="useful">
                    <h4>Useful links</h4>
                    <ul>
                        <li v-for="link in footer.usefulLinks"><a href="">{{link}}</a></li>
                    </ul>
                </div>
                <div class="small_newsletter">
                    <h4>Subscribe to our newsletter</h4>
                    <div class="newsletter_email">
                        <input type="email" placeholder="Insert your email ...*">
                        <button class="btn big green">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="footer_bottom w80">
                <div class="footer_nav">
                    <ul class="nav">
                        <li v-for="link in footer.navLinks" :class="link == selected ? 'active' : null" @click="selected = link">{{link}}</li>
                    </ul>
                </div>
                <div class="social_icons center">
                    <a href="" v-for="icon in footer.socialIcons"><i :class="'fab fa-' + icon"></i></a>
                </div>
            </div>
            <div class="copyrights center">
                <span>© Copyright 2012 - 2021 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress</span>
            </div>
        </footer>
        <div class="help_btn center">
            <div class="demos">
                <i class="fas fa-id-card-alt"></i>
                <span>Demos</span>
            </div>
            <div class="on_sale">
                <div class="on_sale_price"><i class="fas fa-dollar-sign"></i>39</div>
                <span>On Sale</span>
            </div>
        </div>
        <div class="chevron_up center">
            <a href="#">
                <div>
                    <i class="fas fa-chevron-up"></i>
                </div>
            </a>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>